body {
    font-family: Arial, Verdana;
    background-color: black; 
    color: white; 
    margin: 20px 20px 0px 20px;
}
h1 { 
    padding: 15px; 
    text-align: center; 
    font-size: 42px;
}
h2 { 
    font-size: 30px; 
    color: #0D0D0D;
}
p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img { 
    width: 250px;
    margin: 0 auto;
    display: block;
    border: 10px dashed white; 
}
div { 
    padding: 200px; 
    min-height: 200px;
    border: 3px solid white;
}
.introduction { 
    border-radius: 15px; 
    margin-top: 15px;
    line-height: 2;
}
.red { 
    background-color: red;
    text-align: right; 
    margin-left: 50px;
    border-left-width: 5px; 
    border-bottom-width: 2px;
}
.blue { 
    background-color: blue; 
    text-align: left; 
    margin-right: 50px; 
    border-right-width: 5px; 
    border-top-width: 2px;
}
.blue h1, 
.blue h2, 
.blue p { 
    color: #C4C4C4;
}
.yellow { 
    background-color: yellow; 
    text-align: right; 
    margin-left: 50px; 
    border-bottom-width: 2px; 
    border-top-width: 5px;
}
.yellow p{ 
   color: #707070;
}
.green { 
    background-color: green;
}